:root {
  --width-card: 170px;
  --height-card: 210px;
  --border-width: 6px;
}

.container {
  position: relative;
  font-family: star_wars;
  color: var(--bg-color);
  margin-bottom: 20px;

  --border-edge: 1;
  display: grid;
  place-items: center;
  width: var(--width-card);
  height: var(--height-card);
  background-color: var(--primary-color);

  clip-path: polygon(
    /* left-top corner */ 0 calc(var(--border-width) * var(--border-edge)),
    /* left-top corner */ calc(var(--border-width) * var(--border-edge)) 0,

    /* right-top corner */ calc(100% - var(--border-width)) 0,
    /* right-top corner */ 100% var(--border-width),
    /* right indentation */ 100% calc(30% - var(--border-width)),
    /* right indentation */ calc(100% - var(--border-width)) 30%,
    /* right indentation */ calc(100% - var(--border-width)) 60%,
    /* right indentation */ 100% calc(60% + var(--border-width)),
    /* right-bottom corner */ 100% calc(100% - var(--border-width)),
    /* right-bottom corner */ calc(100% - var(--border-width)) 100%,

    /* left-bottom corner */ var(--border-width) 100%,
    /* left-bottom corner */ 0 calc(100% - var(--border-width)),
    /* left indentation */ 0 calc(60% + var(--border-width)),
    /* left indentation */ var(--border-width) 60%,
    /* left indentation */ var(--border-width) 30%,
    /* left indentation */ 0 calc(30% - var(--border-width))
  );
}
.wrapper {
  --border-edge: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--width-card) - var(--border-width));
  height: calc(var(--height-card) - var(--border-width));
  background-color: white;
  clip-path: polygon(
    /* left-top corner */ 0 calc(var(--border-width) * var(--border-edge)),
    /* left-top corner */ calc(var(--border-width) * var(--border-edge)) 0,

    /* right-top corner */ calc(100% - var(--border-width) * var(--border-edge))
      0,
    /* right-top corner */ 100% calc(var(--border-width) * var(--border-edge)),
    /* right indentation */ 100%
      calc(30% - var(--border-width) * (1 - var(--border-edge) + 1)),
    /* right indentation */ calc(100% - var(--border-width)) calc(30% - 2px),
    /* right indentation */ calc(100% - var(--border-width)) calc(60% + 2px),
    /* right indentation */ 100%
      calc(60% + var(--border-width) * (1 - var(--border-edge) + 1)),
    /* right-bottom corner */ 100%
      calc(100% - var(--border-width) * var(--border-edge)),
    /* right-bottom corner */
      calc(100% - var(--border-width) * var(--border-edge)) 100%,

    /* left-bottom corner */ calc(var(--border-width) * var(--border-edge)) 100%,
    /* left-bottom corner */ 0
      calc(100% - var(--border-width) * var(--border-edge)),
    /* left indentation */ 0
      calc(60% + var(--border-width) * (1 - var(--border-edge) + 1)),
    /* left indentation */ var(--border-width) calc(60% + 2px),
    /* left indentation */ var(--border-width) calc(30% - 2px),
    /* left indentation */ 0
      calc(30% - var(--border-width) * (1 - var(--border-edge) + 1))
  );
}
.cell-text {
  position: absolute;
  top: 0px;
  font-size: 0.6em;
}
.name {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  margin: 2px 0px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  letter-spacing: 2px;
  width: 100%;
  height: 15px;
  background-color: var(--primary-color);
}
.number {
  position: absolute;
  z-index: 5;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-top: 2px solid rgb(0, 0, 0);
  width: 80%;
  height: 15px;
  background-color: var(--primary-color);
  --skew: 10px;
  clip-path: polygon(
    var(--skew) 0px,
    calc(100% - var(--skew)) 0px,
    100% 100%,
    0px 100%
  );
}
.figure-img {
  max-height: 80%;
  max-width: 90%;
}

/* .list-container {
  color: var(--bg-color);
  font-family: star_wars;
  padding: 1px 25px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--bg-color);

  background: #e6ddd0;
  background: -webkit-linear-gradient(to right, #a59e95, #e6ddd0);
  background: linear-gradient(to right, #a59e95, #e6ddd0);
  border-radius: 99px;
  border: 2px solid rgba(0, 0, 0, 0.749);

  --horizontal: 0px;
  --vertical: 0px;
  --blur: 20px;
  --spread: 1px;

  -webkit-box-shadow: inset var(--horizontal) var(--vertical) var(--blur)
    var(--spread) rgba(66, 68, 90, 1);
  -moz-box-shadow: inset var(--horizontal) var(--vertical) var(--blur)
    var(--spread) rgba(66, 68, 90, 1);
  box-shadow: inset var(--horizontal) var(--vertical) var(--blur) var(--spread)
    rgb(0, 0, 0);
}

.list-wrapper {
  display: flex;
  flex-direction: column;
  align-self: self-start;
  margin-left: 10px;
  font-size: 0.6em;
}
.list-item {
  display: flex;
  font-size: 0.8em;
}

.list-img {
  height: 60px;
  width: 60px;
  background-color: var(--secondary-bg-color);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 2px solid rgb(49, 49, 49);
}
.list-figure-img {
  max-height: 100%;
  max-width: 100%;
}

.list-price {
  color: var(--error-color);
  font-size: 1em;
}

.list-price-tag-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 20px;
  right: 0px;
  width: 50px;
  height: 50px;
  border-radius: 999px;
  background-color: rgb(174, 174, 174); 
} */

.arrow-up{
  z-index: 99;
  position: fixed;
  font-size: 3em;
  fill: rgb(0, 0, 0);
  background-color: var(--primary-color);
  clip-path: polygon(0 22%, 22% 0, 100% 0, 100% 78%, 78% 100%, 0% 100%, 0 0);
  bottom: 10px;
  right: 10px;
}

h3 {
  color: var(--bg-light-color);
}

.r2d2-container {
  margin-bottom: 5px;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--r2d2-primary-color); 
  clip-path: polygon(
    60% 100%, 
    60% 90%, 
    80% 90%, 
    83% 100%, 
    100% 85%, 
    100% 15%, 
    83% 0%, 
    80% 10%, 
    60% 10%, 
    60% 0%, 
    15% 0%, 
    13% 8%, 
    0% 8%, 
    0% 92%, 
    13% 92%, 
    15% 100%);
}
.r2d2-container-even {
  margin-bottom: 5px;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  transform: rotate(180deg);
  background-color: var(--r2d2-primary-color); 
  clip-path: polygon(
    60% 100%, 
    60% 90%, 
    80% 90%, 
    83% 100%, 
    100% 85%, 
    100% 15%, 
    83% 0%, 
    80% 10%, 
    60% 10%, 
    60% 0%, 
    15% 0%, 
    13% 8%, 
    0% 8%, 
    0% 92%, 
    13% 92%, 
    15% 100%);
}


.r2d2-img-wrapper {
  height: 50px;
  width: 50px;
  margin-left: 5px;
  background-color: white; 
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--bg-color);
}

.r2d2-figure-img {
  max-height: 100%;
  max-width: 100%;
}

.r2d2-logo-img {
  max-height: 40px;
  max-width: 40px;
}

.r2d2-logo-wrapper{
  height: 50px;
  width: 50px;
  /* background-color: var(--r2d2-secondary-color); */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

.r2d2-even {
  transform: rotate(180deg);
}


.r2d2-wrapper{
  margin-left: 10px;
  width: 65%;
}

.r2d2-item {
  display: flex;
  font-size: 0.8em;
}

.r2d2-wrapper-even{
  margin-left: 10px;
  width: 65%;
  transform: rotate(180deg);
}

.r2d2-item-even {
  display: flex;
  justify-content: end;
  font-size: 0.8em;
}
