:root {
  --width-card: 180px;
  --height-card: 210px;
  --border-width: 6px;

  --width-list: 350px;
  --height-list: 80px;
  --r2d2-bricklink-logo-width: 50px;
  --r2d2-price-width: 70px;
  --r2d2-figure-image-width: calc(var(--height-list) - 20px);
}
.card-container {
  position: relative;
  font-family: star_wars;
  color: var(--bg-color);
  margin-bottom: 20px;

  --border-edge: 1;
  display: grid;
  place-items: center;
  width: var(--width-card);
  height: var(--height-card);
  background-color: var(--primary-color);

  clip-path: polygon(
    /* left-top corner */ 0 calc(var(--border-width) * var(--border-edge)),
    /* left-top corner */ calc(var(--border-width) * var(--border-edge)) 0,

    /* right-top corner */ calc(100% - var(--border-width)) 0,
    /* right-top corner */ 100% var(--border-width),
    /* right indentation */ 100% calc(30% - var(--border-width)),
    /* right indentation */ calc(100% - var(--border-width)) 30%,
    /* right indentation */ calc(100% - var(--border-width)) 60%,
    /* right indentation */ 100% calc(60% + var(--border-width)),
    /* right-bottom corner */ 100% calc(100% - var(--border-width)),
    /* right-bottom corner */ calc(100% - var(--border-width)) 100%,

    /* left-bottom corner */ var(--border-width) 100%,
    /* left-bottom corner */ 0 calc(100% - var(--border-width)),
    /* left indentation */ 0 calc(60% + var(--border-width)),
    /* left indentation */ var(--border-width) 60%,
    /* left indentation */ var(--border-width) 30%,
    /* left indentation */ 0 calc(30% - var(--border-width))
  );
}
.card-wrapper {
  --border-edge: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--width-card) - var(--border-width));
  height: calc(var(--height-card) - var(--border-width));
  background-color: white;
  clip-path: polygon(
    /* left-top corner */ 0 calc(var(--border-width) * var(--border-edge)),
    /* left-top corner */ calc(var(--border-width) * var(--border-edge)) 0,

    /* right-top corner */ calc(100% - var(--border-width) * var(--border-edge))
      0,
    /* right-top corner */ 100% calc(var(--border-width) * var(--border-edge)),
    /* right indentation */ 100%
      calc(30% - var(--border-width) * (1 - var(--border-edge) + 1)),
    /* right indentation */ calc(100% - var(--border-width)) calc(30% - 2px),
    /* right indentation */ calc(100% - var(--border-width)) calc(60% + 2px),
    /* right indentation */ 100%
      calc(60% + var(--border-width) * (1 - var(--border-edge) + 1)),
    /* right-bottom corner */ 100%
      calc(100% - var(--border-width) * var(--border-edge)),
    /* right-bottom corner */
      calc(100% - var(--border-width) * var(--border-edge)) 100%,

    /* left-bottom corner */ calc(var(--border-width) * var(--border-edge)) 100%,
    /* left-bottom corner */ 0
      calc(100% - var(--border-width) * var(--border-edge)),
    /* left indentation */ 0
      calc(60% + var(--border-width) * (1 - var(--border-edge) + 1)),
    /* left indentation */ var(--border-width) calc(60% + 2px),
    /* left indentation */ var(--border-width) calc(30% - 2px),
    /* left indentation */ 0
      calc(30% - var(--border-width) * (1 - var(--border-edge) + 1))
  );
}
.card-cell-text {
  position: absolute;
  top: 0px;
  font-size: 0.6em;
}
.card-name {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  margin: 2px 0px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  letter-spacing: 2px;
  width: 100%;
  height: 15px;
  background-color: var(--primary-color);
}
.card-number {
  position: absolute;
  z-index: 5;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-top: 2px solid rgb(0, 0, 0);
  width: 80%;
  height: 15px;
  background-color: var(--primary-color);
  --skew: 10px;
  clip-path: polygon(
    var(--skew) 0px,
    calc(100% - var(--skew)) 0px,
    100% 100%,
    0px 100%
  );
}
.card-figure-img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.arrow-up {
  z-index: 10;
  position: fixed;
  font-size: 3em;
  fill: rgb(0, 0, 0);
  clip-path: polygon(0 22%, 22% 0, 100% 0, 100% 78%, 78% 100%, 0% 100%, 0 0);
  bottom: 20px;
  right: 20px;
}

.r2d2-even {
  transform: rotate(180deg);
}

.r2d2-container {
  --inner-cut: 20%;
  font-family: star_wars;
  height: var(--height-list);
  width: var(--width-list);
  display: flex;
  align-items: center;
  background-color: var(--r2d2-primary-color);
  clip-path: polygon(
    70% 100%,
    70% calc(100% - var(--inner-cut)),
    74% calc(100% - var(--inner-cut)),
    87% 90%,
    100% calc(100% - var(--inner-cut)),
    100% var(--inner-cut),
    87% 10%,
    74% var(--inner-cut),
    70% var(--inner-cut),
    70% 0%,
    20% 0%,
    13% 8%,
    0% 8%,
    0% 92%,
    13% 92%,
    20% 100%
  );
}

.r2d2-figure-img-wrapper {
  height: var(--r2d2-figure-image-width);
  width: var(--r2d2-figure-image-width);
  margin-left: 3px;
  background-color: rgb(255, 255, 255);
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--r2d2-gray-color);
}

.r2d2-figure-img {
  max-height: 100%;
  max-width: 100%;
}

.r2d2-bricklink-logo-img {
  max-height: 40px;
  max-width: 40px;
}

.r2d2-bricklink-logo-wrapper {
  width: var(--r2d2-bricklink-logo-width);
  height: var(--r2d2-bricklink-logo-width);
  display: flex;
  align-items: center;
  justify-content: center;
}

.r2d2-item {
  font-size: 0.8em;
  line-height: 1.4;
  letter-spacing: 1px;
}

.r2d2-item:first-child {
  padding-top: 3px;
}

.r2d2-wrapper {
  margin-left: 5px;
  width: calc(
    var(--width-list) - var(--r2d2-bricklink-logo-width) -
      var(--r2d2-price-width) - var(--r2d2-figure-image-width)
  );
}

.r2d2-price {
  text-align: center;
  letter-spacing: 1px;
  width: var(--r2d2-price-width);
  font-size: 0.8em;
}

/*############################## Small devices (portrait tablets and large phones, 600px and up) ##############################*/
@media only screen and (min-width: 600px) {
  :root {
    --width-card: 190px;
    --height-card: 220px;
    --width-list: 280px;
    --height-list: 70px;
    --r2d2-figure-image-width: calc(var(--height-list) - 20px);
  }
  .r2d2-item {
    font-size: 0.6em;
  }
}

/*############################## Medium devices (landscape tablets, 768px and up) ##############################*/
@media only screen and (min-width: 768px) {
  :root {
    --width-card: 170px;
    --height-card: 220px;
    --border-width: 8px;

    --width-list: 350px;
    --height-list: 80px;
    --r2d2-figure-image-width: calc(var(--height-list) - 20px);
  }
  .card-figure-img {
    object-fit: contain;
  }

  .r2d2-item {
    font-size: 0.8em;
  }
  .card-name {
    height: 20px;
    font-size: 1.2em;
  }
  .card-number {
    bottom: 2px;
    height: 18px;
    font-size: 1.2em;
  }
}

/*############################## Large devices (laptops/desktops, 992px and up) ##############################*/
@media only screen and (min-width: 992px) {
  :root {
    --width-card: 170px;
    --height-card: 220px;
    --border-width: 8px;

    --width-list: 320px;
    --height-list: 80px;
    --r2d2-figure-image-width: calc(var(--height-list) - 20px);
  }
  .r2d2-item {
    font-size: 0.7em;
  }
}

/*############################## Extra large devices (large laptops and desktops, 1200px and up) ##############################*/
@media only screen and (min-width: 1200px) {
  :root {
    --width-card: 190px;
    --height-card: 250px;
    --border-width: 10px;

    --width-list: 360px;
    --height-list: 90px;

    --r2d2-bricklink-logo-width: 50px;
    --r2d2-price-width: 70px;
    --r2d2-figure-image-width: calc(var(--height-list) - 30px);
  }

  .card-name {
    height: 20px;
  }

  .card-number {
    border-top: 3px solid rgb(0, 0, 0);
    height: 20px;
  }

  .card-cell-text {
    font-size: 0.6em;
  }

  .arrow-up {
    position: sticky;
    font-size: 8em;
    left: 100%;
    bottom: 2%;
    margin: 30px;
  }

  .r2d2-wrapper {
    padding-top: 5px;
  }

  .r2d2-item {
    font-size: 0.8em;
  }

  .r2d2-price {
    font-size: 0.8em;
  }
}
