:root {
  --input-height: 30px;
}

.add-figure-wrapper {
  position: fixed;
  inset: 0;
  background-color: rgba(26, 26, 26, 0.849);
  z-index: 3;
}

.add-figure-container {
  --margin: 1em;
  position: absolute;
  font-family: star_wars;
  font-size: 1.2em;
  z-index: 5;
  top: var(--margin);
  left: var(--margin);
  right: var(--margin);
  bottom: 50%;
  bottom: var(--margin);
  padding: 0.5em;
  background-color: var(--bg-color);
  border: 2px solid var(--primary-color);
}

#add-figure-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 25px 5px;
}

.add-figure-div {
  position: relative;
  width: 100%;
  display: grid;
  height: var(--input-height);
}

.add-figure-input-label {
  position: relative;
  z-index: 55;
  font-size: 8px;
  letter-spacing: 1px;
  padding-left: 10px;
}

.grid-2-left {
  grid-column-start: 1;
  grid-column-end: 3;
}

.grid-2-right {
  grid-column-start: 3;
  grid-column-end: 5;
}

.grid-3-left {
  grid-column-start: 1;
  grid-column-end: 4;
}

.grid-1-right {
  grid-column-start: 4;
  grid-column-end: 5;
}

.grid-full-line {
  grid-column-start: 1;
  grid-column-end: 5;
}

.grid-height-3 {
  height: 100%;
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 3;
  grid-column-end: 5;
}

.font-size-6 {
  font-size: 6em;
}
#add-figure-photo {
  display: grid;
  align-items: center;
  justify-items: center;
}

#add-figure-photo > a {
  display: flex;
  align-items: center;
  justify-content: center;
}

#add-img {
  max-height: 80%;
  max-width: 80%;
  --cut-height: 10px;
  clip-path: polygon(
    var(--cut-height) 0%, 
    100% 0, 
    100% calc(100% - var(--cut-height)), 
    calc(100% - var(--cut-height)) 100%, 
    0 100%, 
    0% var(--cut-height));
}


.grid-center {
  display: grid;
  width: 100%;
  max-height: 100%;
  place-items: center;
}

.add-figure-close-btn {
  --close-btn-width: 20px;
  position: absolute;
  width: var(--close-btn-width);
  height: var(--close-btn-width);
  top: calc(-1 * var(--close-btn-width) / 2);
  right: calc(-1 * var(--close-btn-width) / 2);
  background-color: var(--primary-color);
  cursor: pointer;
  clip-path: polygon(0 22%, 22% 0, 100% 0, 100% 78%, 78% 100%, 0% 100%, 0 0);
}
.add-figure-close-btn::after,
.add-figure-close-btn::before {
  content: "";
  position: absolute;
  width: 15%;
  height: 95%;
  top: 0px;
  left: calc(var(--close-btn-width) / 2.2);
  background-color: var(--bg-color);
}
.add-figure-close-btn::after {
  transform: rotate(45deg);
}
.add-figure-close-btn::before {
  transform: rotate(-45deg);
}

.input-wrapper {
  position: relative;
  height: var(--input-height);
}

.add-figure-input {
  all: unset;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  font-size: 8px;
  color: var(--bg-color);
  padding: 0px 10px;
  background-color: var(--primary-color);
  --cut-height: 6px;
  clip-path: polygon(
    calc(100% - var(--cut-height)) 0%,
    100% var(--cut-height),
    100% 100%,
    var(--cut-height) 100%,
    0% calc(100% - var(--cut-height)),
    0 0
  );
}

.add-figure-checkbox-div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: var(--input-height);
  height: auto;
  padding: 3px 0;

  background-color: var(--primary-color);
  --cut-height: 6px;
  clip-path: polygon(
    calc(100% - var(--cut-height)) 0%,
    100% var(--cut-height),
    100% 100%,
    var(--cut-height) 100%,
    0% calc(100% - var(--cut-height)),
    0 0
  );
}

/* checkbox style  */
input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;

  appearance: none;
  background-color: var(--primary-color);
  /* font: inherit; */
  /* color: currentColor; */
  width: 10px;
  height: 10px;
  border: 1px solid var(--bg-color);
  border-radius: 3px;
}

input[type="checkbox"]::before,
input[type="checkbox"]::after {
  content: "";
  transform: scale(0);
}

input[type="checkbox"]:checked::before,
input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 49%;
  width: 1px;
  height: 8px;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 0.4em 0.4em var(--bg-color);
}

input[type="checkbox"]:checked::before {
  transform: rotate(45deg);
}
input[type="checkbox"]:checked::after {
  transform: rotate(-45deg);
}

/* styling dropdown menu - instead of default select html element */
.icon-arrow-down {
  font-size: 2.2em;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.dropdown-el {
  padding: 3px;
  cursor: pointer;
  position: relative;
  z-index: 9999;
  font-size: 6px;
  border-left: 5px solid transparent;
}

.dropdown-el:not(:last-child) {
  border-bottom: 1px solid black;
}

.dropdown-el:hover::after {
  content: "";
  position: absolute;
  width: 3px;
  top: -1px;
  bottom: -1px;
  left: -5px;
  background-color: var(--bg-color);
}

.select-height {
  max-height: 300px;
  overflow: auto;
  z-index: 99999;
}
::-webkit-scrollbar {
  width: 14px; /* Total width including `border-width` of scrollbar thumb */
}

::-webkit-scrollbar-thumb {
  height: 1em;
  border: 0.5em solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 10px;
  background-color: var(--bg-color);
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

.svg-image-prev {
  fill: var(--primary-color);
}

.svg-image-prev-error {
  fill: crimson;
  color: crimson;
}

.input-required {
  position: absolute;
  top: -10px;
  right: -6px;
  font-size: 10px;
  color: crimson;
}

.flex-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
