.add-figure-input {
  background-color: var(--edit-color);
}

.add-figure-input-label {
  color: var(--edit-color);
}

.add-figure-container {
  border: 2px solid var(--edit-color);
}
.add-figure-close-btn {
  background-color: var(--edit-color);
}

.add-figure-checkbox-div {
  background-color: var(--edit-color);
}

input[type="checkbox"] {
  background-color: var(--edit-color);
}

.svg-image-prev {
  fill: var(--edit-color);
}

.button-edit {
  all: unset;
  position: relative;
  z-index: 1;
  font-family: star_wars;
  font-size: 0.6em;
  letter-spacing: 0.2rem;

  padding: 5px 15px;
  margin: 5px;
  background-color: var(--edit-color);
  color: var(--bg-color);
  cursor: pointer;

  --cut-height: 6px;
  clip-path: polygon(
    calc(100% - var(--cut-height)) 0%,
    100% var(--cut-height),
    100% 100%,
    var(--cut-height) 100%,
    0% calc(100% - var(--cut-height)),
    0 0
  );
}
