.add-figure-wrapper {
  position: fixed;
  inset: 0;
  background-color: rgb(26, 26, 26);
  z-index: 3;
}

.add-figure-container {
  position: absolute;
  font-family: star_wars;
  font-size: 1.2em;
  z-index: 5;
  inset: 2em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(0, 0, 0);
  border: 2px solid var(--primary-color);
}

.add-figure-close-btn {
  --close-btn-width: 20px;
  position: absolute;
  width: var(--close-btn-width);
  height: var(--close-btn-width);
  top: calc(-1 * var(--close-btn-width) / 2);
  right: calc(-1 * var(--close-btn-width) / 2);
  background-color: var(--primary-color);
  clip-path: polygon(80% 0%, 100% 20%, 100% 100%, 22% 100%, 0% 78%, 0 0);
}

.add-figure-close-btn::after,
.add-figure-close-btn::before {
  content: "";
  position: absolute;
  width: 5%;
  height: 100%;
  top: 0px;
  left: calc(var(--close-btn-width) / 2);
  background-color: var(--bg-color);
}
.add-figure-close-btn::after {
  transform: rotate(45deg);
}
.add-figure-close-btn::before {
  transform: rotate(-45deg);
}

.btn-add-figure {
  all: unset;
  font-family: star_wars;
  padding: 5px 15px;
  margin: 10px;
  background-color: var(--primary-color);
  color: black;
  cursor: pointer;

  --height: 10px;
  clip-path: polygon(
    calc(100% - var(--height)) 0%,
    100% var(--height),
    100% 100%,
    var(--height) 100%,
    0% calc(100% - var(--height)),
    0 0
  );
}

.center {
  margin-top: 10px;
  display: grid;
  place-items: center;
}

.input-wrapper {
  margin-bottom: 5px;
}

.add-figure-input {
  all: unset;
  color: black;
  padding: 5px 10px;
  background-color: var(--primary-color);

  --height: 10px;
  clip-path: polygon(
    calc(100% - var(--height)) 0%,
    100% var(--height),
    100% 100%,
    var(--height) 100%,
    0% calc(100% - var(--height)),
    0 0
  );
}

.add-figure-input-label {
  font-size: 1.2em;
}
