.filter-container {
  display: grid;
  width: 100%;
  margin: 0 auto;
  padding-top: 5px;
  height: 65px;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  border-bottom: 2px solid var(--bg-color);
  margin-bottom: 3px;

  --cut-height: 10px;
  clip-path: polygon(
    var(--cut-height) 0%,
    100% 0,
    100% calc(100% - var(--cut-height)),
    calc(100% - var(--cut-height)) 100%,
    0 100%,
    0% var(--cut-height)
  );
}
.filter-icon {
  font-size: 3.7em;
  padding: 0px;
  margin: 5px;
}
.filter-quantity-wprapper {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 3px;
  margin: 5px;
  height: 45px;
}
.filter-quantity-wprapper-border-card {
  border: 3px solid var(--bg-color);
}
.filter-quantity-wprapper-border-list {
  border: 3px solid var(--r2d2-secondary-color);
  background-color: var(--r2d2-primary-color);
}
.filter-quantity-icon {
  font-size: 2.4em;
  margin-left: 2px;
}
.filter-icon:hover {
  fill: var(--error-color);
}

.filter-container-expand {
  position: relative;
  display: grid;
  width: 100%;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  font-family: star_wars;
  color: var(--bg-color);
  border-bottom: 3px solid var(--error-color);
  margin-bottom: 3px;
  padding: 5px 15px;
}

.filter-container-expand::after,
.filter-container-expand::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: var(--bg-color);
}
.filter-container-expand::after {
  bottom: -3px;
  left: -3px;
  clip-path: polygon(100% 100%, 0 0, 0 100%);
}
.filter-container-expand::before {
  top: -3px;
  right: -3px;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.filter-item-wrapper {
  width: 100%;
  height: 50px;
}
.filter-reset-icon {
  position: absolute;
  top: 11px;
  right: -6px;
  color: var(--error-color);
}
.filter-reset-svg {
  font-size: 1em;
}
.filter-reset-all-icon {
  position: absolute;
  top: -10px;
  left: -10px;
  color: var(--error-color);
  font-size: 1.4em;
}

/*############################## Medium devices (landscape tablets, 768px and up) ##############################*/
@media only screen and (min-width: 768px) {
  .filter-item-wrapper {
    width: 95%;
    height: 70px;
  }
  .filter-reset-icon {
    top: 5px;
    right: -14px;
  }
  .filter-reset-svg {
    font-size: 1.8em;
  }
  .filter-reset-all-icon {
    top: -12px;
    left: -14px;
  }
}

/*############################## Extra large devices (large laptops and desktops, 1200px and up) ##############################*/
@media only screen and (min-width: 1200px) {
  .filter-icon {
    font-size: 6em;
    margin: 10px;
  }

  .filter-container {
    --cut-height: 20px;
    height: 100px;
  }
  .filter-quantity-icon {
    font-size: 5.4em;
  }

  .filter-container-expand {
    margin-bottom: 6px;
  }

  .filter-container-expand::after,
  .filter-container-expand::before {
    width: 23px;
    height: 23px;
  }

  .filter-item-wrapper {
    height: 100px;
  }

  .filter-reset-icon {
    top: 2px;
    right: -22px;
  }
  .filter-reset-svg {
    font-size: 2.4em;
  }

  .filter-quantity-wprapper {
    height: 85px;
  }
  .filter-quantity-wprapper-border-card {
    border: 4px solid var(--bg-color);
  }
  .filter-quantity-wprapper-border-list {
    border: 4px solid var(--r2d2-secondary-color);
  }
}
