.filter-container {
  color: black;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--bg-color);
}

.filter-icon {
  font-size: 3em;
  padding: 0;
  margin: 5px;
}

.filter-quantity-wprapper {
  display: flex;
  align-self: center;
  border: 2px solid var(--bg-color);
  border-radius: 5px;
  padding: 2px;
}

.filter-quantity-icon {
  font-size: 2.4em;
  margin-left: 2px;
}

.filter-icon:hover {
  fill: var(--darth-color);
}
