:root {
  /* 
  --primary-color: #ffe81f; original color from star wars logo 
  --r2d2-primary-color: #274294; original color from r2d2 body
  --r2d2-secondary-color: #ae3237; original color from r2d2 body
  */

  --primary-color: #ffd43b;
  --secondary-color: #ffffff;
  --bg-light-color: #f3f3f3;
  --bg-color: #212529;
  --gray-color: #8a8b8d;
  --error-color: #d31013;
  --edit-color: #ffa94d;
  --r2d2-primary-color: #274294;
  --r2d2-secondary-color: #ae3237;
  --r2d2-head-color: #bbbfbf;
  --r2d2-gray-color: #a8a7aa;

  /* lighter version for hover state */
  --primary-color-hover: #fcc419;
  --error-color-hover: #f03e3e;
  --edit-color-hover: #ffc078;
  /* less opacity for bg modals*/
  --bg-color-modal: #0f1010f1;
}

@font-face {
  font-family: star_wars;
  src: local("star_wars"), url("../fonts/star_wars.ttf") format("truetype");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: star_wars, verdana, arial, helvetica;
  font-size: 12px;
  background-color: var(--bg-color);
  color: var(--primary-color);
  max-height: 100%;
  overflow-y: auto;
}
.test {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 10px;
  height: 30px;
  background-color: rgb(255, 0, 0);
}

.background-color-primary {
  background-color: var(--primary-color) !important;
}
.background-color-secondary {
  background-color: var(--secondary-color) !important;
}
.background-color-bg {
  background-color: var(--bg-color) !important;
}
.background-color-bg-light {
  background-color: var(--bg-light-color) !important;
}
.background-color-error {
  background-color: var(--error-color) !important;
}
.background-color-edit {
  background-color: var(--edit-color) !important;
}
.background-color-gray {
  background-color: var(--gray-color) !important;
}
.background-color-r2d2-primary {
  background-color: var(--r2d2-primary-color) !important;
}
.background-color-r2d2-secondary {
  background-color: var(--r2d2-secondary-color) !important;
}
.background-color-r2d2-head {
  background-color: var(--r2d2-head-color) !important;
}

.color-primary {
  color: var(--primary-color) !important;
}
.color-secondary {
  color: var(--secondary-color) !important;
}
.color-bg {
  color: var(--bg-color) !important;
}
.color-error {
  color: var(--error-color) !important;
}
.color-edit {
  color: var(--edit-color) !important;
}
.color-gray {
  color: var(--gray-color) !important;
}
.color-r2d2-primary {
  color: var(--r2d2-primary-color) !important;
}
.color-r2d2-secondary {
  color: var(--r2d2-secondary-color) !important;
}
.color-r2d2-head {
  color: var(--r2d2-head-color) !important;
}

.figure-container-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.figure-container-list {
  display: grid;
  place-content: center;
  width: 100%;
  padding: 10px 0;
  gap: 10px;
}

a {
  line-height: 1;
}

/*############################## Small devices (portrait tablets and large phones, 600px and up) ##############################*/
@media only screen and (min-width: 600px) {
  .test {
    background-color: #ff9900;
  }

  .figure-container-card {
    grid-template-columns: repeat(3, 1fr);
  }
  .figure-container-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

/*############################## Medium devices (landscape tablets, 768px and up) ##############################*/
@media only screen and (min-width: 768px) {
  .test {
    background-color: #008000;
  }
  .figure-container-card {
    grid-template-columns: repeat(4, 1fr);
  }
  .figure-container-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

/*############################## Large devices (laptops/desktops, 992px and up) ##############################*/
@media only screen and (min-width: 992px) {
  .test {
    background-color: #1100ff;
  }

  .figure-container-card {
    grid-template-columns: repeat(5, 1fr);
  }
  .figure-container-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}

/*############################## Extra large devices (large laptops and desktops, 1200px and up) ##############################*/
@media only screen and (min-width: 1200px) {
  .test {
    background-color: #f200ff;
  }

  .app-container {
    margin: 0 auto;
    max-width: 2000px;
  }

  .figure-container-card {
    grid-template-columns: repeat(6, 1fr);
  }

  .figure-container-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
