:root {
  /* --bg-color: #ffe81f;
  --primary-color: #000000; */
  --primary-color: #ffe81f;
  --bg-color: #0e0e16;
  --error-color: crimson;
  --edit-color: rgb(253, 140, 83);
  --darth-color: #cb0407;
  --gray-color: #756f68;
}

@font-face {
  font-family: star_wars;
  src: local("star_wars"), url("../fonts/star_wars.ttf") format("truetype");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: verdana, arial, helvetica, star_wars;
  font-size: 12px;
  background-color: var(--bg-color);
  color: var(--primary-color);
}

.figure-container-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.figure-container-list {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 5px;
  gap: 5px;
}

.overflow-hidden {
  overflow: hidden;
}

.relative {
  position: relative;
}

.hidden {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.background-color-primary {
  background-color: var(--primary-color) !important;
}
.background-color-bg {
  background-color: var(--bg-color) !important;
}
.background-color-edit {
  background-color: var(--edit-color) !important;
}
.background-color-darth {
  background-color: var(--darth-color) !important;
}
.background-color-error {
  background-color: var(--error-color) !important;
}
.background-color-gray {
  background-color: var(--gray-color) !important;
}


.button {
  all: unset;
  position: relative;
  z-index: 1;
  font-family: star_wars;
  font-size: 0.6em;
  letter-spacing: 0.2rem;

  padding: 5px 15px;
  margin: 5px;
  background-color: var(--primary-color);
  color: var(--bg-color);
  cursor: pointer;

  --cut-height: 6px;
  clip-path: polygon(
    calc(100% - var(--cut-height)) 0%,
    100% var(--cut-height),
    100% 100%,
    var(--cut-height) 100%,
    0% calc(100% - var(--cut-height)),
    0 0
  );
}

.button-edit {
  all: unset;
  position: relative;
  z-index: 1;
  font-family: star_wars;
  font-size: 0.6em;
  letter-spacing: 0.2rem;

  padding: 5px 15px;
  margin: 5px;
  background-color: var(--edit-color);
  color: var(--bg-color);
  cursor: pointer;

  --cut-height: 6px;
  clip-path: polygon(
    calc(100% - var(--cut-height)) 0%,
    100% var(--cut-height),
    100% 100%,
    var(--cut-height) 100%,
    0% calc(100% - var(--cut-height)),
    0 0
  );
}


/* validate messages */
.required-field-container {
  position: absolute;
  top: 35px;
  width: 100%;
  /* background-color: rgba(20, 100, 220, 0.653); */
  height: 20px;
  animation: hideMe 1s forwards;
}

@keyframes hideMe {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.required-field {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(255, 255, 255);
  font-size: 8px;
  letter-spacing: 2px;
  background-color: var(--error-color);
  padding: 0 5px;
  --cut-height: 4px;
  clip-path: polygon(
    calc(100% - var(--cut-height)) 0%,
    100% var(--cut-height),
    100% 100%,
    var(--cut-height) 100%,
    0% calc(100% - var(--cut-height)),
    0 0
  );
}
.required-field-after {
  position: absolute;
  top: -3px;
  left: 35%;
  transform: translateX(-50%) rotate(45deg);
  width: 7px;
  height: 7px;
  background-color: var(--error-color);
  z-index: 5;
}
.input-required {
  position: absolute;
  top: -10px;
  right: -6px;
  font-size: 10px;
  color: var(--error-color);
}

/* modal window  */
.modal-wrapper {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.92);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-container {
  position: relative;
  font-family: star_wars;
  font-size: 1em;
  z-index: 5;
  padding: 0.5em;
  border: 10px solid transparent;
  /* background-color: crimson; */
  display: grid;
}
.modal-figure-img {
  max-width: 95%;
  justify-self: center;
}
.modal-close-btn {
  --close-btn-width: 20px;
  position: absolute;
  z-index: 99;
  width: var(--close-btn-width);
  height: var(--close-btn-width);
  top: -5px;
  right: 3px;
  background-color: var(--primary-color);
  cursor: pointer;
  clip-path: polygon(0 22%, 22% 0, 100% 0, 100% 78%, 78% 100%, 0% 100%, 0 0);
}
.modal-close-btn::after,
.modal-close-btn::before {
  content: "";
  position: absolute;
  width: 15%;
  height: 95%;
  top: 0px;
  left: calc(var(--close-btn-width) / 2.2);
  background-color: var(--bg-color);
}
.modal-close-btn::after {
  transform: rotate(45deg);
}
.modal-close-btn::before {
  transform: rotate(-45deg);
}
.model-label {
  position: absolute;

  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--bg-color);
  font-size: 14px;
  letter-spacing: 3px;
  background-color: var(--primary-color);
  padding: 0 5px;
  --cut-height: 4px;
  clip-path: polygon(
    calc(100% - var(--cut-height)) 0%,
    100% var(--cut-height),
    100% 100%,
    var(--cut-height) 100%,
    0% calc(100% - var(--cut-height)),
    0 0
  );
  width: 95%;
  text-align: center;
}
.modal-arrow {
  z-index: 99;
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  font-size: 2em;
  fill: rgb(0, 0, 0);
  background-color: var(--primary-color);
  clip-path: polygon(0 22%, 22% 0, 100% 0, 100% 78%, 78% 100%, 0% 100%, 0 0);
}
.modal-arrow-right {
  right: 5px;
}

.modal-arrow-left {
  left: 5px;
}
