:root {
  /* 
  --primary-color: #ffe81f; original color from star wars logo 
  --r2d2-primary-color: #274294; original color from r2d2 body
  --r2d2-secondary-color: #ae3237; original color from r2d2 body
  */

  --primary-color: #ffd43b;
  --secondary-color: #ffffff;
  --bg-light-color: #f3f3f3;
  --bg-color: #212529;
  --gray-color: #8a8b8d;
  --error-color: #d31013;
  --edit-color: #ffa94d;
  --r2d2-primary-color: #274294;
  --r2d2-secondary-color: #ae3237;
  --r2d2-head-color: #bbbfbf;

  /* lighter version for hover state */
  --primary-color-hover: #fcc419;
  --error-color-hover: #f03e3e;
  --edit-color-hover: #ffc078;

  /* less opacity for bg modals*/
  --bg-color-modal: #0f1010f1;
}

@font-face {
  font-family: star_wars;
  src: local("star_wars"), url("../fonts/star_wars.ttf") format("truetype");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: verdana, arial, helvetica, star_wars;
  font-size: 12px;
  background-color: var(--bg-color);
  color: var(--primary-color);
}

.background-color-primary {
  background-color: var(--primary-color) !important;
}
.background-color-secondary {
  background-color: var(--secondary-color) !important;
}
.background-color-bg {
  background-color: var(--bg-color) !important;
}
.background-color-bg-light {
  background-color: var(--bg-light-color) !important;
}
.background-color-error {
  background-color: var(--error-color) !important;
}
.background-color-edit {
  background-color: var(--edit-color) !important;
}
.background-color-gray {
  background-color: var(--gray-color) !important;
}
.background-color-r2d2-primary {
  background-color: var(--r2d2-primary-color) !important;
}
.background-color-r2d2-secondary {
  background-color: var(--r2d2-secondary-color) !important;
}
.background-color-r2d2-head {
  background-color: var(--r2d2-head-color) !important;
}

.color-primary {
  color: var(--primary-color) !important;
}
.color-secondary {
  color: var(--secondary-color) !important;
}
.color-bg {
  color: var(--bg-color) !important;
}
.color-error {
  color: var(--error-color) !important;
}
.color-edit {
  color: var(--edit-color) !important;
}
.color-gray {
  color: var(--gray-color) !important;
}
.color-r2d2-primary {
  color: var(--r2d2-primary-color) !important;
}
.color-r2d2-secondary {
  color: var(--r2d2-secondary-color) !important;
}
.color-r2d2-head {
  color: var(--r2d2-head-color) !important;
}

.figure-container-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.figure-container-list {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: 0 auto;
  width: 95%;
  padding: 5px;
  gap: 5px;
}

.btn {
  all: unset;
  position: relative;
  z-index: 1;
  font-family: star_wars;
  font-size: 0.6em;
  letter-spacing: 0.1rem;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 15px;
  margin: 5px;
  cursor: pointer;

  --cut-height: 6px;
  clip-path: polygon(
    calc(100% - var(--cut-height)) 0%,
    100% var(--cut-height),
    100% 100%,
    var(--cut-height) 100%,
    0% calc(100% - var(--cut-height)),
    0 0
  );
}

a {
  line-height: 1;
}

.btn-add {
  padding: 5px 15px;
  margin: 5px;
  background-color: var(--primary-color);
  color: var(--bg-color);
  cursor: pointer;

  --cut-height: 6px;
  clip-path: polygon(
    calc(100% - var(--cut-height)) 0%,
    100% var(--cut-height),
    100% 100%,
    var(--cut-height) 100%,
    0% calc(100% - var(--cut-height)),
    0 0
  );
}

.btn-add:hover {
  background-color: var(--primary-color-hover);
}

.btn-edit {
  background-color: var(--edit-color);
  color: var(--bg-color);
}

.btn-edit:hover {
  background-color: var(--edit-color-hover);
}

.btn-delete {
  background-color: var(--error-color);
  color: var(--bg-color);
}

.btn-delete:hover {
  background-color: var(--error-color-hover);
}

.btn-icon {
  padding-right: 4px;
}

/* validate messages */
.required-field-container {
  position: absolute;
  top: 35px;
  width: 100%;
  height: 20px;
  animation: hideMe 1s forwards;
}

@keyframes hideMe {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.required-field {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: var(--bg-light-color);
  font-size: 8px;
  letter-spacing: 2px;
  background-color: var(--error-color);
  padding: 0 5px;
  --cut-height: 4px;
  clip-path: polygon(
    calc(100% - var(--cut-height)) 0%,
    100% var(--cut-height),
    100% 100%,
    var(--cut-height) 100%,
    0% calc(100% - var(--cut-height)),
    0 0
  );
}

.required-field-after {
  position: absolute;
  top: -3px;
  left: 35%;
  transform: translateX(-50%) rotate(45deg);
  width: 7px;
  height: 7px;
  background-color: var(--error-color);
  z-index: 5;
}

.input-required {
  position: absolute;
  top: -10px;
  right: -6px;
  font-size: 10px;
  color: var(--error-color);
}

/* phones in landscape mode */
@media screen and (orientation: landscape) and (max-width: 814px) {
  .figure-container-card {
    grid-template-columns: repeat(4, 1fr);
  }

  .figure-container-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

/* PC  */
@media screen and (width > 845px) {
  .app-container {
    max-width: 1280px;
    margin: 0 auto;
    border: 2px solid green;
  }

  .figure-container-card {
    grid-template-columns: repeat(3, 1fr);
  }

}
