:root {
  --width-confirm-modal: 300px;
  --height-confirm-modal: 150px;
}

.modal-wrapper {
  position: fixed;
  inset: 0px;
  top: -10px;
  background-color: var(--bg-color-modal);
  z-index: 100;
}

.modal-container {
  position: relative;
  width: 90%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: star_wars;
  font-size: 1em;
  z-index: 5;
  padding: 10px;
  display: grid;
  place-content: center;
  background-color: rgb(255, 255, 255);
}

.modal-figure-img {
  width: 95%;
  justify-self: center;
}

.modal-close-btn {
  display: grid;
  place-content: center;
  --close-btn-width: 30px;
  position: absolute;
  z-index: 99;
  width: var(--close-btn-width);
  height: var(--close-btn-width);
  top: -15px;
  right: -15px;
  background-color: var(--primary-color);
  cursor: pointer;
  clip-path: polygon(0 22%, 22% 0, 100% 0, 100% 78%, 78% 100%, 0% 100%, 0 0);
}

.modal-close {
  width: 30px;
  height: 30px;
  position: absolute;
  inset: 0;
  z-index: 999;
}

.modal-close-svg {
  font-size: 1.4em;
}

.modal-label {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  text-align: center;

  color: var(--bg-color);
  font-size: 14px;
  letter-spacing: 3px;
  background-color: var(--primary-color);
  padding: 0 5px;
  --cut-height: 8px;
  clip-path: polygon(
    calc(100% - var(--cut-height)) 0%,
    100% var(--cut-height),
    100% 100%,
    var(--cut-height) 100%,
    0% calc(100% - var(--cut-height)),
    0 0
  );
}

.modal-arrow {
  position: absolute;
  z-index: 99;
  bottom: 50%;
  transform: translateY(50%);
  font-size: 3em;
  fill: var(--bg-color);
  background-color: var(--primary-color);
  clip-path: polygon(0 22%, 22% 0, 100% 0, 100% 78%, 78% 100%, 0% 100%, 0 0);
}

.modal-arrow-right {
  right: -5px;
}

.modal-arrow-left {
  left: -5px;
}

.modal-next-image {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: -30px;
  left: 50%;
}
.modal-prev-image {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: -30px;
  right: 50%;
}

.confirm-modal-wrapper {
  z-index: 99;
  background-color: var(--bg-color-modal);
  position: absolute;
  top: -30px;
  bottom: -30px;
  right: -30px;
  left: -30px;
  display: grid;
  place-content: center;
  padding: 50px;
}

.confirm-modal-container {
  --cut-height: 10px;
  width: var(--width-confirm-modal);
  height: var(--height-confirm-modal);
  display: grid;
  place-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  clip-path: polygon(
    calc(100% - var(--cut-height)) 0%,
    100% var(--cut-height),
    100% 100%,
    var(--cut-height) 100%,
    0% calc(100% - var(--cut-height)),
    0 0
  );
}

.confirm-modal-container-inner {
  width: calc(var(--width-confirm-modal) + 4px);
  height: calc(var(--height-confirm-modal) + 4px);
  display: flex;
  align-items: center;
  justify-content: center;

  --cut-height: 10px;
  background-color: var(--error-color);
  clip-path: polygon(
    calc(100% - var(--cut-height)) 0%,
    100% var(--cut-height),
    100% 100%,
    var(--cut-height) 100%,
    0% calc(100% - var(--cut-height)),
    0 0
  );
}

.confirm-modal-grid-line {
  grid-column: 1/3;
  justify-self: center;
}

/*############################## Small devices (portrait tablets and large phones, 600px and up) ##############################*/
@media only screen and (min-width: 600px) {
  .modal-wrapper {
    display: grid;
  }

  .modal-container {
    max-width: 600px;
    height: 610px;
    margin-bottom: 80px;
  }

  .modal-figure-img {
    height: 600px;
    max-width: 580px;
    object-fit: contain;
  }
  .modal-arrow-right {
    right: -20px;
  }

  .modal-arrow-left {
    left: -20px;
  }


  .modal-close-svg {
    font-size: 2.6em;
  }
  .modal-arrow {
    font-size: 4em;
  }

  .modal-next-image {
    right: -50px;
  }
  .modal-prev-image {
    left: -50px;
  }
  
  .modal-close-btn {
    --close-btn-width: 45px;
    top: -20px;
    right: -25px;
  }

  .modal-close {
    width: 45px;
    height: 45px;
  }
}
/*############################## Medium devices (landscape tablets, 768px and up) ##############################*/
@media only screen and (min-width: 768px) {
  :root {
    --width-confirm-modal: 400px;
    --height-confirm-modal: 250px;
  }
  .modal-wrapper {
    display: grid;
  }

  .modal-label {
    bottom: -40px;
    font-size: 24px;
    --cut-height: 12px;
  }

  .confirm-modal-container {
    --cut-height: 20px;
    gap: 30px;
  }

  .confirm-modal-container-inner {
    width: calc(var(--width-confirm-modal) + 10px);
    height: calc(var(--height-confirm-modal) + 10px);
    --cut-height: 20px;
  }
  .confirm-modal-grid-line {
    font-size: 1.4em;
  }

  .modal-close-btn {
    --close-btn-width: 45px;
    top: -20px;
    right: -25px;
  }

  .modal-close {
    width: 45px;
    height: 45px;
  }

  .modal-close-svg {
    font-size: 2em;
  }
  .modal-arrow {
    font-size: 5em;
  }
  .modal-arrow-right {
    right: -20px;
  }

  .modal-arrow-left {
    left: -20px;
  }

  .modal-next-image {
    right: -400px;
  }
  .modal-prev-image {
    left: -400px;
  }
  .modal-figure-img {
    height: 600px;
    max-width: 580px;
    object-fit: contain;
  }

}
/*############################## Extra large devices (large laptops and desktops, 1200px and up) ##############################*/
@media only screen and (min-width: 1200px) {
  :root {
    --width-confirm-modal: 600px;
    --height-confirm-modal: 300px;
  }
  .modal-wrapper {
    display: grid;
  }

  .modal-container {
    max-width: 800px;
    height: auto;
    padding: 10px;
  }

  .modal-figure-img {
    /* height: 800px; */
    max-width: 780px;
  }

  .modal-close-btn {
    --close-btn-width: 50px;
    top: -25px;
    right: -20px;
  }

  .modal-close {
    width: 50px;
    height: 50px;
  }
  .modal-close-svg {
    font-size: 2.8em;
  }

  .modal-label {
    bottom: -35px;
    font-size: 2em;
    --cut-height: 18px;
  }

  .modal-arrow {
    font-size: 5em;
  }
  .modal-arrow-right {
    right: -80px;
  }

  .modal-arrow-left {
    left: -80px;
  }

  .confirm-modal-container {
    --cut-height: 20px;
    gap: 30px;
  }

  .confirm-modal-container-inner {
    width: calc(var(--width-confirm-modal) + 10px);
    height: calc(var(--height-confirm-modal) + 10px);
    --cut-height: 20px;
  }
  .confirm-modal-grid-line {
    font-size: 2em;
  }
}
