:root {
  --distance-from-top: 0px;
  --notification-height: 65px;
  --notification-border: 4px;
  --cut-height: 10px;
}

.notification-wrapper {
  position: absolute;
  inset: 0;
  top: var(--distance-from-top);
  height: var(--notification-height);
  z-index: 99;
  opacity: 1;
  clip-path: polygon(
    var(--cut-height) 0%,
    100% 0,
    100% calc(100% - var(--cut-height)),
    calc(100% - var(--cut-height)) 100%,
    0 100%,
    0% var(--cut-height)
  );
}

.notification-fade-out {
  animation-name: notification;
  animation-duration: 3s;
  animation-timing-function: ease;
}

.notification-content {
  display: grid;
  place-items: center;
}

.notification-type-add {
  color: var(--secondary-color);
  background-color: var(--notification-color);
  border: var(--notification-border) solid var(--notification-color-darker);
}

.notification-type-edit {
  color: var(--secondary-color);
  background-color: var(--notification-color);
  border: var(--notification-border) solid var(--notification-color-darker);
}

.notification-type-delete {
  color: var(--bg-color);
  background-color: var(--edit-color);
  border: var(--notification-border) solid var(--edit-color-darker);
}

.notification-type-error {
  color: var(--secondary-color);
  background-color: var(--error-color);
  border: var(--notification-border) solid var(--error-color-darker);
}

@keyframes notification {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*############################## Medium devices (landscape tablets, 768px and up) ##############################*/
@media only screen and (min-width: 768px) {
  :root {
    --notification-border: 6px;
    --notification-height: 64px;
  }

  .notification-content {
    margin: 0 auto;
    font-size: 1.6em;
    padding: 0 2em;
  }
}
/*############################## Extra large devices (large laptops and desktops, 1200px and up) ##############################*/
@media only screen and (min-width: 1200px) {
  :root {
    --notification-height: 98px;
    --notification-border: 8px;
  }

  .notification-content {
    font-size: 3em;
    padding: 0 4em;
  }
}
