/* rotation for fetching image from bricklink page or loading images*/
@keyframes img-fetch-rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.svg-rotate {
  animation: img-fetch-rotation 4s infinite linear;
}

.svg-fill-primary {
  fill: var(--primary-color);
}
.svg-fill-bg {
  fill: var(--bg-color);
}
.svg-fill-bg:hover {
  fill: var(--error-color);
}
.svg-fill-error {
  fill: var(--error-color);
}
.svg-fill-edit {
  fill: var(--edit-color);
}
.svg-fill-gray {
  fill: var(--gray-color);
}
.svg-fill-loading {
  fill: var(--loading-color);
}
.svg-fill-r2d2-primary {
  fill: var(--r2d2-primary-color);
}
.svg-fill-r2d2-secondary {
  fill: var(--r2d2-secondary-color);
}
.svg-fill-bg-light-color {
  fill: var(--bg-light-color);
}

.svg-fill-lego-quantity {
  fill: var(--bg-color);
}
