:root {
  /* --bg-color: #ffe81f;
  --primary-color: #000000; */
  --primary-color: #ffe81f;
  --bg-color: #0e0e16;
}

@font-face {
  font-family: star_wars;
  src: local("star_wars"), url("./fonts/star_wars.ttf") format("truetype");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: verdana, arial, helvetica, star_wars;
  font-size: 12px;
  background-color: var(--bg-color);
  color: var(--primary-color);
}

.figure-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.overflow-hidden {
  overflow: hidden;
}

.relative {
  position: relative;
}

.cursor-pointer {
  cursor: pointer;
}

.button {
  all: unset;
  position: relative;
  z-index: 1;
  font-family: star_wars;
  font-size: 0.6em;
  letter-spacing: 0.2rem;

  padding: 5px 15px;
  margin: 5px;
  background-color: var(--primary-color);
  color: var(--bg-color);
  cursor: pointer;

  --cut-height: 6px;
  clip-path: polygon(
    calc(100% - var(--cut-height)) 0%,
    100% var(--cut-height),
    100% 100%,
    var(--cut-height) 100%,
    0% calc(100% - var(--cut-height)),
    0 0
  );
}

.svg {
  width: 35px;
  height: 35px;
}
